<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Manage\Member\Api\Data\AllmemberInterface" type="Manage\Member\Model\Allmember" />
	<preference for="Manage\Member\Api\AllmemberRepositoryInterface" type="Manage\Member\Model\AllmemberRepository" />
	<virtualType name="AllmemberGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Manage\Member\Model\ResourceModel\Allmember\Collection</argument>
        </arguments>
    </virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="member_allmember_listing_data_source" xsi:type="string">Manage\Member\Model\ResourceModel\Allmember\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Manage\Member\Model\ResourceModel\Allmember\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">manage_member</argument>
            <argument name="eventPrefix" xsi:type="string">manage_member_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">manage_member_collection</argument>
            <argument name="resourceModel" xsi:type="string">Manage\Manage\Model\ResourceModel\Allmember</argument>
        </arguments>
    </type>
	<type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Manage\Member\Api\Data\AllmemberInterface" xsi:type="string">Manage\Member\Api\AllmemberRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
</config>